body{
    background-image: url(/src/img/16061209-grunge-film-background-with-space-for-text-or-image.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
li{
    list-style-type: none;
    display: inline;
    margin-right: 40px;
    font-size: 30px;
    text-decoration-style: dotted;
}
ul{
    margin-top: 50px;
}
header{
    display: flex;
    justify-content: center;
}

header a:hover{
    color:blueviolet;
}
header a{
    color: rgb(4, 10, 37);
}
h2{
    display: flex;
    justify-content: center;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
img{
    width: 200px;
}

.container{
    margin-bottom: 50px;
}
footer{
    background-image: url(/src/img/235857.jpg);
    background-size: 100%;
    height: 200px;
}
.swiper{
    width: 950px;
}